* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #161825;
  color: #ffffff;
  scroll-behavior: smooth;
  font-family: Roboto;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1400px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 180px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-primary {
  background: #04749F;
  color: #ffffff;
  -webkit-box-shadow: -2px -4px 4px rgba(242, 232, 232, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(248, 243, 243, 0.1);
          box-shadow: -2px -4px 4px rgba(242, 232, 232, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(248, 243, 243, 0.1);
}

.btn.btn-secondary {
  background: #ffffff;
  color: #000000;
}

header.header {
  background: #0F111E;
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

header.header .container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header .container .logo img {
  height: auto;
  width: 180px;
}

header.header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header.header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.header .container nav ul.navigation-links {
  margin-left: calc( -100% + 700px);
}

header.header .container nav ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

header.header .container nav ul li a.link {
  color: #ffffffb7;
  padding: 5px 0;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

header.header .container nav ul li a.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #04749F;
  -webkit-transition: .25s;
  transition: .25s;
}

header.header .container nav ul li a.link.active::before, header.header .container nav ul li a.link:hover::before {
  height: 4px;
  width: 100%;
}

header.header .container nav ul li a.link.active::before {
  height: 1px;
}

.banner {
  min-height: calc( 100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  width: 90%;
}

.banner .container h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 60px;
  width: 40%;
  font-size: clamp(48px, 5vw, 60px);
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-weight: normal;
}

.banner .container p {
  width: 50%;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  font-weight: normal;
  color: #99D5EC;
}

.banner .container .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container .btns a {
  margin-right: 30px;
}

.home-banner {
  min-height: calc( 110vh - 60px);
  background: linear-gradient(182deg, rgba(33, 38, 67, 0.8) -0.13%, #161825 90%), url("../assets/images/hero-bg.png") no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.home-banner .container h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 60px;
  font-size: clamp(48px, 5vw, 70px);
  line-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  font-weight: normal;
}

.home-banner .container p {
  margin-bottom: 40px;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  font-weight: normal;
  color: #99D5EC;
}

.home-banner .container .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-banner .container .btns a {
  margin-right: 30px;
}

.services {
  padding: 50px 0 70px 0;
}

.services h2 {
  font-size: clamp(38px, 5vw, 48px);
  margin-bottom: 40px;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .container .description {
  padding-right: 70px;
  width: 65%;
  max-width: 900px;
}

.services .container .description p {
  font-size: 18px;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  color: #D3D6D7;
  margin-bottom: 40px;
}

.services .container .description a {
  color: #ffffff6c;
  text-decoration: underline;
}

.services .container .services-list h2 {
  margin-bottom: 30px;
  font-size: clamp(34px, 5vw, 36px);
  text-align: right;
}

.services .container .services-list ul li {
  margin-bottom: 20px;
  font-size: clamp(16px, 2vw, 20px);
  text-align: right;
  background: radial-gradient(50% 50% at 50.1% 50%, #2C2F43 0%, #141622 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  width: 100%;
  min-width: 330px;
  color: #ffffffc4;
}

.service-banner {
  min-height: calc( 100vh - 60px);
  position: relative;
}

.service-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: #0F111E;
  z-index: -1;
}

.service-banner .container {
  width: 60%;
  position: relative;
  top: 200px;
  background: #161825;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 300px;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-banner .container h1 {
  font-size: clamp(24px, 5vw, 55px);
  text-align: center;
  margin-bottom: 30px;
}

.service-banner .container p {
  text-align: center;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 1.7em;
  color: #b3dcec;
}
/*# sourceMappingURL=style.css.map */