* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #161825;
  color: #ffffff;
  scroll-behavior: smooth;
  font-family: Roboto;
  overflow-x: hidden;
}

::-moz-selection {
  background: #ffffff;
  color: #161825;
}

::selection {
  background: #ffffff;
  color: #161825;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus, input:focus, textarea:focus {
  outline: none !important;
}

h1 {
  font-size: clamp(28px, 5vw, 48px);
}

h2 {
  font-size: clamp(24px, 5vw, 36px);
}

h3 {
  font-size: clamp(20px, 4vw, 30px);
}

p {
  font-size: clamp(16px, 2vw, 18px);
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1400px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 180px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-primary {
  background: #04749F;
  color: #ffffff;
  -webkit-box-shadow: -2px -4px 4px rgba(242, 232, 232, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(248, 243, 243, 0.1);
          box-shadow: -2px -4px 4px rgba(242, 232, 232, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(248, 243, 243, 0.1);
}

.btn.btn-secondary {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
}

header.header {
  background: #0F111E;
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

header.header .container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header .container .logo img {
  height: auto;
  width: 180px;
}

header.header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header.header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.header .container nav ul.navigation-links {
  margin-left: calc( -100% + 700px);
}

header.header .container nav ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

header.header .container nav ul li a.link {
  color: #ffffffb7;
  padding: 5px 0;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

header.header .container nav ul li a.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #04749F;
  -webkit-transition: .25s;
  transition: .25s;
}

header.header .container nav ul li a.link.active::before, header.header .container nav ul li a.link:hover::before {
  height: 4px;
  width: 100%;
}

header.header .container nav ul li a.link.active::before {
  height: 1px;
}

@media screen and (max-width: 992px) {
  header.header .container .logo img {
    height: 20px;
    width: auto;
  }
  header.header .container nav ul.navigation-links {
    margin-left: calc( -100% + 600px);
  }
  header.header .container nav ul li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  header.header .container .logo img {
    height: 30px;
    width: auto;
  }
  header.header .container .burger {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  header.header .container .burger span {
    height: 2px;
    width: 28px;
    background: #ffffff;
    position: relative;
  }
  header.header .container .burger span::before, header.header .container .burger span::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 24px;
    background: #ffffff;
  }
  header.header .container .burger span::before {
    top: -9px;
  }
  header.header .container .burger span::after {
    top: 9px;
  }
  header.header .container nav {
    min-height: calc( 100vh - 10px);
    width: calc( 100% - 20px);
    overflow-x: hidden;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 11;
    background: #161825f8;
    overflow-y: auto;
    padding: 30px 0;
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    transition: transform .35s ease-in;
    transition: transform .35s ease-in, -webkit-transform .35s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header .container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header.header .container nav ul.navigation-links {
    margin-left: 0;
  }
  header.header .container nav ul li {
    margin: 15px 0;
  }
  header.header .container nav ul li .btn.btn-primary {
    background: none;
    color: #ffffffb7;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px 0;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header.header .container nav ul li .btn.btn-primary::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #04749F;
    -webkit-transition: .25s;
    transition: .25s;
  }
  header.header .container nav ul li .btn.btn-primary:hover::before {
    height: 4px;
    width: 100%;
  }
  header.header .container nav ul li .btn.btn-secondary {
    color: #ffffffb7;
    font-weight: normal;
  }
  header.header .container nav ul li .btn.btn-secondary::before {
    height: 1px;
  }
  header.header .container nav ul li a {
    font-size: 24px;
  }
  header.header .container nav.open {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  header.header .container nav .burger.close {
    position: absolute;
    top: 20px;
    right: 10%;
  }
  header.header .container nav .burger.close span {
    height: 0;
  }
  header.header .container nav .burger.close span::before {
    height: 2px;
    width: 30px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transform-origin: 0% 150%;
            transform-origin: 0% 150%;
  }
  header.header .container nav .burger.close span::after {
    width: 30px;
    height: 2px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-transform-origin: 25% 50%;
            transform-origin: 25% 50%;
  }
}

.banner {
  min-height: calc( 100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  width: 90%;
}

.banner .container .descr {
  width: 40%;
}

.banner .container .descr h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 60px;
  font-size: clamp(48px, 5vw, 60px);
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-weight: normal;
}

.banner .container .descr p {
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  font-weight: normal;
  color: #99D5EC;
}

.banner .container .descr .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container .descr .btns a {
  margin-right: 30px;
}

.banner .container .image-container {
  margin-top: -50px;
  padding: 0 0 0 20px;
  width: 60%;
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    width: 90%;
  }
  .banner .container .descr {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .banner .container .descr h1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    font-size: 60px;
    font-size: clamp(30px, 5vw, 60px);
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
    font-weight: normal;
  }
  .banner .container .descr p {
    font-size: clamp(1em, 2vw, 1.2em);
    line-height: 30px;
    font-weight: normal;
    color: #99D5EC;
  }
  .banner .container .descr .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .container .descr .btns a {
    margin-right: 30px;
  }
  .banner .container .image-container {
    margin-top: -20px;
    padding: 0;
    width: 100%;
    min-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
}

footer {
  background: #101119;
}

footer .container {
  text-align: center;
}

footer .container div {
  padding: 20px 0;
}

footer .container .quote {
  padding: 20px 0;
  max-width: 700px;
  margin: auto;
}

footer .container .quote blockquote {
  padding: 30px 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: italic;
}

footer .container .quote blockquote cite {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  color: #04749F;
  font-style: normal;
}

footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

footer .container .social-media div.group {
  display: inline-block;
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 0px #9790900d;
          box-shadow: 0px 2px 0px #9790900d;
}

footer .container .social-media div.group p {
  font-size: 1.2rem;
}

footer .container .social-media div.group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social-media div.group div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  margin: 10px 15px;
  color: #04749F;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1), 5px 5px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 1px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(2, 2, 2, 0.25);
          box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1), 5px 5px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 1px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(2, 2, 2, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#121019), to(#1D1F2B));
  background: linear-gradient(180deg, #121019 0%, #1D1F2B 100%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

footer .container .social-media div.group div a .icon {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

footer .container .social-media div.group div a:hover .icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .quick-links {
  padding: 20px 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(41, 43, 56, 0.88) 0%, rgba(16, 17, 25, 0.88) 100%);
}

footer .quick-links .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .quick-links .container ul img {
  opacity: 1;
  height: 30px;
  width: auto;
  margin: 0 15px;
}

footer .quick-links .container ul li {
  margin: 20px 15px;
}

footer .quick-links .container ul li a {
  color: #fff;
  text-decoration: none;
  opacity: .7;
}

footer .quick-links .container ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .quick-links .container ul li a.btn.btn-tertiary {
  opacity: 1;
}

footer .quick-links .container ul li a.btn.btn-tertiary:hover {
  text-decoration: none;
}

footer .copy-right {
  padding: 30px 0;
}

footer .copy-right .container {
  opacity: .6;
  font-size: .8em;
}

@media screen and (max-width: 700px) {
  .container .quote {
    width: 100%;
  }
  .container .quote blockquote cite {
    right: 0;
  }
  .container .quick-links .container ul img {
    opacity: 1;
    height: 30px;
  }
  .container .quick-links .container ul li {
    margin: 20px 10px !important;
  }
  .container .social-media div.group div a {
    font-size: 1rem !important;
    margin: 10px 12px !important;
    height: 35px !important;
    width: 35px !important;
  }
  .container .copy-right .container {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=style.css.map */