* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #161825;
  color: #ffffff;
  scroll-behavior: smooth;
  font-family: Roboto;
}

::-moz-selection {
  background: #ffffff;
  color: #161825;
}

::selection {
  background: #ffffff;
  color: #161825;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus, input:focus, textarea:focus {
  outline: none !important;
}

h1 {
  font-size: clamp(28px, 5vw, 48px);
}

h2 {
  font-size: clamp(24px, 5vw, 36px);
}

h3 {
  font-size: clamp(20px, 4vw, 30px);
}

p {
  font-size: clamp(16px, 2vw, 18px);
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1400px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 180px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-primary {
  background: #04749F;
  color: #ffffff;
  -webkit-box-shadow: -2px -4px 4px rgba(242, 232, 232, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(248, 243, 243, 0.1);
          box-shadow: -2px -4px 4px rgba(242, 232, 232, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(248, 243, 243, 0.1);
}

.btn.btn-secondary {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
}

header.header {
  background: #0F111E;
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

header.header .container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header .container .logo img {
  height: auto;
  width: 180px;
}

header.header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header.header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.header .container nav ul.navigation-links {
  margin-left: calc( -100% + 700px);
}

header.header .container nav ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

header.header .container nav ul li a.link {
  color: #ffffffb7;
  padding: 5px 0;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

header.header .container nav ul li a.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #04749F;
  -webkit-transition: .25s;
  transition: .25s;
}

header.header .container nav ul li a.link.active::before, header.header .container nav ul li a.link:hover::before {
  height: 4px;
  width: 100%;
}

header.header .container nav ul li a.link.active::before {
  height: 1px;
}

@media screen and (max-width: 992px) {
  header.header .container .logo img {
    height: 20px;
    width: auto;
  }
  header.header .container nav ul.navigation-links {
    margin-left: calc( -100% + 600px);
  }
  header.header .container nav ul li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  header.header .container .logo img {
    height: 30px;
    width: auto;
  }
  header.header .container .burger {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  header.header .container .burger span {
    height: 2px;
    width: 28px;
    background: #ffffff;
    position: relative;
  }
  header.header .container .burger span::before, header.header .container .burger span::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 24px;
    background: #ffffff;
  }
  header.header .container .burger span::before {
    top: -9px;
  }
  header.header .container .burger span::after {
    top: 9px;
  }
  header.header .container nav {
    min-height: calc( 100vh - 10px);
    width: calc( 100% - 20px);
    overflow-x: hidden;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 11;
    background: #161825f8;
    overflow-y: auto;
    padding: 30px 0;
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    transition: transform .35s ease-in;
    transition: transform .35s ease-in, -webkit-transform .35s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header .container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header.header .container nav ul.navigation-links {
    margin-left: 0;
  }
  header.header .container nav ul li {
    margin: 15px 0;
  }
  header.header .container nav ul li .btn.btn-primary {
    background: none;
    color: #ffffffb7;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px 0;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header.header .container nav ul li .btn.btn-primary::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #04749F;
    -webkit-transition: .25s;
    transition: .25s;
  }
  header.header .container nav ul li .btn.btn-primary:hover::before {
    height: 4px;
    width: 100%;
  }
  header.header .container nav ul li .btn.btn-secondary {
    color: #ffffffb7;
    font-weight: normal;
  }
  header.header .container nav ul li .btn.btn-secondary::before {
    height: 1px;
  }
  header.header .container nav ul li a {
    font-size: 24px;
  }
  header.header .container nav.open {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  header.header .container nav .burger.close {
    position: absolute;
    top: 20px;
    right: 10%;
  }
  header.header .container nav .burger.close span {
    height: 0;
  }
  header.header .container nav .burger.close span::before {
    height: 2px;
    width: 30px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transform-origin: 0% 150%;
            transform-origin: 0% 150%;
  }
  header.header .container nav .burger.close span::after {
    width: 30px;
    height: 2px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-transform-origin: 25% 50%;
            transform-origin: 25% 50%;
  }
}

.banner {
  min-height: calc( 100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  width: 90%;
}

.banner .container .descr {
  width: 40%;
}

.banner .container .descr h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 60px;
  font-size: clamp(48px, 5vw, 60px);
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-weight: normal;
}

.banner .container .descr p {
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  font-weight: normal;
  color: #99D5EC;
}

.banner .container .descr .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container .descr .btns a {
  margin-right: 30px;
}

.banner .container .image-container {
  margin-top: -50px;
  padding: 0 0 0 20px;
  width: 60%;
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    width: 90%;
  }
  .banner .container .descr {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .banner .container .descr h1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    font-size: 60px;
    font-size: clamp(30px, 5vw, 60px);
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
    font-weight: normal;
  }
  .banner .container .descr p {
    font-size: clamp(1em, 2vw, 1.2em);
    line-height: 30px;
    font-weight: normal;
    color: #99D5EC;
  }
  .banner .container .descr .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .container .descr .btns a {
    margin-right: 30px;
  }
  .banner .container .image-container {
    margin-top: -50px;
    padding: 0;
    width: 100%;
    min-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
}

footer {
  background: #101119;
}

footer .container {
  text-align: center;
}

footer .container div {
  padding: 20px 0;
}

footer .container .quote {
  padding: 20px 0;
  max-width: 700px;
  margin: auto;
}

footer .container .quote blockquote {
  padding: 30px 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: italic;
}

footer .container .quote blockquote cite {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  color: #04749F;
  font-style: normal;
}

footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

footer .container .social-media div.group {
  display: inline-block;
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 0px #9790900d;
          box-shadow: 0px 2px 0px #9790900d;
}

footer .container .social-media div.group p {
  font-size: 1.2rem;
}

footer .container .social-media div.group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social-media div.group div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  margin: 10px 15px;
  color: #04749F;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1), 5px 5px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 1px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(2, 2, 2, 0.25);
          box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1), 5px 5px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 1px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(2, 2, 2, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#121019), to(#1D1F2B));
  background: linear-gradient(180deg, #121019 0%, #1D1F2B 100%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

footer .container .social-media div.group div a .icon {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

footer .container .social-media div.group div a:hover .icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .quick-links {
  padding: 20px 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(41, 43, 56, 0.88) 0%, rgba(16, 17, 25, 0.88) 100%);
}

footer .quick-links .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .quick-links .container ul img {
  opacity: 1;
  height: 30px;
  width: auto;
  margin: 0 15px;
}

footer .quick-links .container ul li {
  margin: 20px 15px;
}

footer .quick-links .container ul li a {
  color: #fff;
  text-decoration: none;
  opacity: .7;
}

footer .quick-links .container ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .quick-links .container ul li a.btn.btn-tertiary {
  opacity: 1;
}

footer .quick-links .container ul li a.btn.btn-tertiary:hover {
  text-decoration: none;
}

footer .copy-right {
  padding: 30px 0;
}

footer .copy-right .container {
  opacity: .6;
  font-size: .8em;
}

@media screen and (max-width: 700px) {
  .container .quote {
    width: 100%;
  }
  .container .quote blockquote cite {
    right: 0;
  }
  .container .quick-links .container ul img {
    opacity: 1;
    height: 30px;
  }
  .container .quick-links .container ul li {
    margin: 20px 10px !important;
  }
  .container .social-media div.group div a {
    font-size: 1rem !important;
    margin: 10px 12px !important;
    height: 35px !important;
    width: 35px !important;
  }
  .container .copy-right .container {
    font-size: .8rem;
  }
}

.home-banner {
  min-height: calc( 110vh - 60px);
  background: linear-gradient(182deg, rgba(33, 38, 67, 0.8) -50.53%, #161825 80%), url("../assets/images/hero-bg.png") no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.home-banner .container h1 {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 60px;
  font-size: clamp(30px, 5vw, 70px);
  line-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  font-weight: normal;
}

.home-banner .container p {
  margin-bottom: 40px;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  font-weight: normal;
  color: #99D5EC;
}

.home-banner .container .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-banner .container .btns a {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .home-banner {
    min-height: calc( 100vh - 60px);
  }
  .home-banner .container {
    height: 100%;
    padding: 50px 0;
    width: 90%;
  }
  .home-banner .container h1 {
    font-size: 60px;
    font-size: clamp(30px, 5vw, 70px);
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
    font-weight: normal;
  }
  .home-banner .container p {
    margin-bottom: 30px;
    font-size: clamp(1em, 2vw, 1.2em);
    line-height: 30px;
    font-weight: normal;
    color: #99D5EC;
  }
  .home-banner .container .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-banner .container .btns a {
    margin-right: 10px;
  }
}

.services {
  padding: 50px 0 70px 0;
}

.services h2 {
  font-size: clamp(26px, 5vw, 48px);
  margin-bottom: 40px;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .description {
  padding-right: 70px;
  width: 65%;
  max-width: 900px;
}

.services .container .description p {
  font-size: 18px;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 30px;
  color: #D3D6D7;
  margin-bottom: 40px;
}

.services .container .description a {
  color: #ffffffb2;
  text-decoration: underline;
}

.services .container .services-list h2 {
  margin-bottom: 30px;
  font-size: clamp(24px, 5vw, 36px);
  text-align: right;
}

.services .container .services-list ul li {
  margin-bottom: 20px;
  font-size: clamp(16px, 2vw, 20px);
  text-align: right;
  background: radial-gradient(50% 50% at 50.1% 50%, #2C2F43 0%, #141622 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #2C2F43, 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px #2C2F43, 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  width: 100%;
  min-width: 330px;
  color: #ffffffdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .container .services-list ul li .icon {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .services .container {
    width: 90%;
  }
  .services .container .description {
    padding-right: 0px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 50px;
  }
  .services .container .description p {
    line-height: 30px;
    margin-bottom: 20px;
  }
  .services .container .description a {
    text-decoration: underline;
  }
  .services .container .services-list {
    width: 90%;
    margin: auto;
  }
  .services .container .services-list h2 {
    margin-bottom: 30px;
    text-align: left;
  }
  .services .container .services-list ul {
    width: 100%;
  }
  .services .container .services-list ul li {
    width: 100%;
    min-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    padding-left: 50px;
  }
  .services .container .services-list ul li .icon {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.projects {
  margin: 0 0 50px 0;
}

.projects .container header {
  text-align: center;
}

.projects .container header h2 {
  margin-bottom: 30px;
}

.projects .container .showcase {
  cursor: -webkit-grab;
  cursor: grab;
}

.projects .container .showcase.dragged {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.projects .container .showcase .swiper-slide {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .container .showcase .swiper-slide article {
  background: linear-gradient(86.78deg, #10111A 23.54%, #1D1F2B 77.91%);
  -webkit-box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0 30px;
  width: 80%;
  max-width: 1000px;
}

.projects .container .showcase .swiper-slide article .top-details {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .container .showcase .swiper-slide article .top-details h3 {
  font-weight: lighter;
  font-size: clamp(20px, 2vw, 18px);
}

.projects .container .showcase .swiper-slide article .top-details p {
  color: #5cc1e9;
  cursor: pointer;
  font-size: 15px;
}

.projects .container .showcase .swiper-slide article .top-details p:hover {
  text-decoration: underline;
}

.projects .container .showcase .swiper-slide article .project-details {
  padding: 15px 0;
}

.projects .container .showcase .swiper-slide article .project-details .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .container .showcase .swiper-slide article .project-details .project a {
  color: #ffffffcc;
  text-decoration: underline;
}

.projects .container .showcase .swiper-slide article .project-details .product {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .container .showcase .swiper-slide article .project-details .client-project, .projects .container .showcase .swiper-slide article .project-details .core-product {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .projects {
    margin: 0 0 40px 0;
  }
  .projects .container {
    width: 90%;
    overflow-x: hidden;
  }
  .projects .container header {
    text-align: center;
  }
  .projects .container header h2 {
    margin-bottom: 25px;
  }
  .projects .container .showcase {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .projects .container .showcase.dragged {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .projects .container .showcase .swiper-slide {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .container .showcase .swiper-slide article {
    background: linear-gradient(86.78deg, #10111A 23.54%, #1D1F2B 77.91%);
    -webkit-box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
  }
  .projects .container .showcase .swiper-slide article .top-details {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients {
  position: relative;
  padding: 50px 0;
}

.clients::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 100%;
  height: 50%;
  z-index: -1;
  background: #2C2F41;
}

.clients .container {
  background: linear-gradient(86.78deg, #10111A 23.54%, #1D1F2B 77.91%);
  -webkit-box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 20px;
}

.clients .container h2 {
  margin-bottom: 15px;
  margin-top: 20px;
}

.clients .container .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients .container .showcase article {
  margin: 10px;
  padding: 20px;
  width: 150px;
  max-width: 40%;
  height: 100%;
}

.clients .container .showcase article img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  height: auto;
  width: 100%;
}

.testimonials {
  padding: 70px 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1.77%, #101119), color-stop(97.82%, #2C2F41));
  background: linear-gradient(0deg, #101119 1.77%, #2C2F41 97.82%);
}

.testimonials h2 {
  width: 80%;
  margin: auto;
  margin-bottom: 35px;
  text-align: center;
}

.testimonials .container {
  margin-left: 10%;
  width: 90%;
  overflow: auto;
}

.testimonials .container .showcase {
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonials .container .showcase.dragged {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.testimonials .container .showcase .swiper-slide {
  padding: 10px;
  padding-top: 60px;
}

.testimonials .container .showcase .swiper-slide article {
  background: linear-gradient(86.78deg, #10111A 23.54%, #1D1F2B 77.91%);
  -webkit-box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 100%;
  min-height: 300px;
  margin: 0 10px;
  padding: 20px;
  padding-top: 60px;
  position: relative;
  text-align: left;
}

.testimonials .container .showcase .swiper-slide article p {
  margin: 20px 0;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.testimonials .container .showcase .swiper-slide article p .icon {
  margin-bottom: 5px;
  margin-right: 4px;
  color: #99D5EC;
}

.testimonials .container .showcase .swiper-slide article h2 {
  font-size: clamp(18px, 3vw, 19px);
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.testimonials .container .showcase .swiper-slide article h3 {
  font-size: clamp(16px, 2vw, 17px);
  font-weight: 400;
  color: #99D5EC;
}

.testimonials .container .showcase .swiper-slide article .avatar-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -60px;
  left: 5%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: linear-gradient(86.78deg, #101119 23.54%, #1D1F2B 77.91%);
  -webkit-box-shadow: -2px -1px 2px rgba(197, 188, 188, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.05), inset -2px -2px 2px rgba(55, 53, 53, 0.4), inset 3px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: -2px -1px 2px rgba(197, 188, 188, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.05), inset -2px -2px 2px rgba(55, 53, 53, 0.4), inset 3px 4px 2px rgba(0, 0, 0, 0.4);
}

.testimonials .container .showcase .swiper-slide article .avatar-container .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(86.78deg, #101119 23.54%, #1D1F2B 77.91%);
  -webkit-box-shadow: -2px -1px 2px rgba(197, 188, 188, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -1px 2px rgba(197, 188, 188, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 50px 0;
  }
  .testimonials h2 {
    width: 85%;
  }
  .testimonials .container {
    margin-left: 5%;
    width: 95%;
  }
  .testimonials .container .showcase {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .testimonials .container .showcase .swiper-slide {
    padding: 10px;
    padding-top: 60px;
  }
  .testimonials .container .showcase .swiper-slide article .avatar-container {
    height: 100px;
    width: 100px;
    top: -50px;
  }
  .testimonials .container .showcase .swiper-slide article .avatar-container .avatar {
    width: 70px;
    height: 70px;
  }
}

.service-banner {
  min-height: calc( 90vh - 60px);
  position: relative;
  padding: 0 0 30px;
}

.service-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #0F111E;
  z-index: -1;
}

.service-banner .container {
  width: 60%;
  position: relative;
  top: 130px;
  background: #161825;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(12, 16, 41, 0.849)), color-stop(10%, rgba(13, 17, 37, 0.926))), url("../assets/images/service-bg.png") no-repeat bottom center;
  background: linear-gradient(0deg, rgba(12, 16, 41, 0.849) 0%, rgba(13, 17, 37, 0.926) 10%), url("../assets/images/service-bg.png") no-repeat bottom center;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 300px;
  height: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-banner .container h1 {
  font-size: clamp(24px, 5vw, 55px);
  text-align: center;
  margin-bottom: 30px;
}

.service-banner .container p {
  text-align: center;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 1.7em;
  color: #b3dcec;
}

@media screen and (max-width: 992px) {
  .service-banner::before {
    height: 60%;
  }
  .service-banner .container {
    width: 80%;
    top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .service-banner::before {
    height: 60%;
  }
  .service-banner .container {
    width: 90%;
    top: 100px;
    padding: 30px 20px;
  }
}

.service-list {
  padding: 30px 0 40px;
}

.service-list .container {
  width: 600px;
  max-width: 90%;
  background: #1C1F30;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25), -3px -4px 4px #2B2F47;
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25), -3px -4px 4px #2B2F47;
  border-radius: 5px;
  padding: 30px;
}

.service-list .container h2 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(24px, 5vw, 36px);
}

.service-list .container h3 {
  font-size: clamp(16px, 4vw, 20px);
}

.service-list .container .showcase ul {
  padding: 10px 0;
}

.service-list .container .showcase ul li {
  margin: 20px 0;
}

.service-list .container .showcase ul li h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-list .container .showcase ul li p {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 24px;
  height: 0;
  overflow: hidden;
  color: #ffffff94;
}

.service-list .container .showcase ul li p.active {
  height: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.contact-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#161825), color-stop(57.81%, #101119), to(#101119));
  background: linear-gradient(180deg, #161825 0%, #101119 57.81%, #101119 100%);
}

.contact-page .container {
  padding: 30px 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-page .container .contact-form {
  background: #161825;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -3px 4px rgba(141, 173, 183, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -3px 4px rgba(141, 173, 183, 0.25);
  width: 100%;
  margin: 30px 0;
}

.contact-page .container .contact-form form {
  padding: 30px 15px;
}

.contact-page .container .contact-form form h1 {
  font-size: clamp(30px, 5vw, 60px);
  margin-bottom: 30px;
}

.contact-page .container .contact-form form .form-group {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page .container .contact-form form .form-group label {
  padding-bottom: 10px;
}

.contact-page .container .contact-form form .form-group input, .contact-page .container .contact-form form .form-group textarea {
  width: 100%;
  height: 50px;
  background: #161825;
  -webkit-box-shadow: inset -3px -4px 4px rgba(255, 255, 255, 0.25), inset 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset -3px -4px 4px rgba(255, 255, 255, 0.25), inset 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #ffffffab;
  font-size: 16px;
}

.contact-page .container .contact-form form .form-group input:focus, .contact-page .container .contact-form form .form-group textarea:focus {
  border: 1px solid #04749F;
}

.contact-page .container .contact-form form .form-group input::-webkit-input-placeholder, .contact-page .container .contact-form form .form-group textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group input:-ms-input-placeholder, .contact-page .container .contact-form form .form-group textarea:-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group input::-ms-input-placeholder, .contact-page .container .contact-form form .form-group textarea::-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group input::placeholder, .contact-page .container .contact-form form .form-group textarea::placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea {
  height: 100px;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
}

.contact-page .container .contact-form form .form-group textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea:-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea::-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea::placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .container .contact-form form .btns button {
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .contact-page {
    background: -webkit-gradient(linear, left top, left bottom, from(#161825), color-stop(57.81%, #101119), to(#101119));
    background: linear-gradient(180deg, #161825 0%, #101119 57.81%, #101119 100%);
  }
  .contact-page .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page .container .contact-form {
    width: 60%;
    max-width: 600px;
  }
  .contact-page .container .contact-details {
    width: 40%;
    max-width: 500px;
    padding-left: 60px;
  }
}

.contact-details {
  margin: 30px 0;
  margin-bottom: 0;
  width: 100%;
}

.contact-details h2 {
  font-size: clamp(26px, 4vw, 40px);
  margin-bottom: 30px;
}

.contact-details p {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
}

.contact-details .contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.contact-details .contact ul li .icon-container {
  margin-right: 25px;
}

.contact-details .contact ul li .icon-container .icon {
  font-size: clamp(16px, 2vw, 18px);
}

.contact-details .contact ul li .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-details .contact ul li .text span {
  margin: 5px 0;
}

.contact-details .contact ul li .text span a {
  color: #ffffffad;
  text-decoration: underline;
}

.vision, .mission {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px auto;
}

.vision .image-container, .mission .image-container {
  width: 50%;
}

.vision .image-container img, .mission .image-container img {
  width: 100%;
  height: auto;
}

.vision .descr, .mission .descr {
  width: 50%;
  padding-right: 30px;
}

.vision .descr h1, .mission .descr h1 {
  font-size: clamp(36px, 3vw, 50px);
  font-weight: normal;
  margin-bottom: 25px;
}

.vision .descr p, .mission .descr p {
  color: #ffffffd0;
  line-height: 30px;
}

.mission .descr {
  padding-left: 30px;
  padding-right: 0;
}

@media screen and (max-width: 690px) {
  .vision, .mission {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px auto;
  }
  .vision .image-container, .mission .image-container {
    width: 100%;
  }
  .vision .image-container img, .mission .image-container img {
    width: 100%;
    height: auto;
  }
  .vision .descr, .mission .descr {
    width: 100%;
    padding-right: 0;
    padding-top: 25px;
    width: 90%;
    margin: auto;
  }
  .vision .descr h1, .mission .descr h1 {
    font-size: clamp(36px, 3vw, 50px);
    font-weight: normal;
    margin-bottom: 25px;
  }
  .vision .descr p, .mission .descr p {
    color: #ffffffd0;
    line-height: 30px;
  }
  .mission .descr {
    padding-left: 0;
    padding-right: 0;
  }
  .vision .descr {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.team .team-image img {
  width: 100%;
  height: auto;
}

.team .team-members {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .team-members .team-container {
  width: 280px;
  height: 380px;
  margin: 10px;
}

.team .team-members .descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 15px 15px 0;
}

.team .team-members h1 {
  font-weight: normal;
  font-size: clamp(30px, 3vw, 50px);
  font-style: normal;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
}

.team .team-members p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffffc7;
  line-height: 28px;
}

.team .team-members .image-card {
  background: linear-gradient(86.78deg, #10111A 23.54%, #1D1F2B 77.91%);
  -webkit-box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px;
}

.team .team-members .image-card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.team .team-members .image-card .name {
  font-style: normal;
  font-weight: normal;
  font-size: clamp(18px, 2vw, 20px);
  line-height: 28px;
}

.team .team-members .image-card .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 28px;
  color: #9FE4FF;
}

@media screen and (max-width: 768px) {
  .team .team-image img {
    width: 100%;
    height: auto;
  }
  .team .team-members {
    margin: 30px auto;
  }
  .team .team-members .team-container {
    width: 280px;
    max-width: 100%;
    height: 380px;
    margin: 10px;
  }
  .team .team-members .descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 20px 0;
    height: 100%;
  }
  .team .team-members h1 {
    font-weight: normal;
    font-size: clamp(30px, 3vw, 50px);
    font-style: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  }
  .team .team-members p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #ffffffc7;
    line-height: 28px;
  }
  .team .team-members .image-card {
    background: linear-gradient(86.78deg, #10111A 23.54%, #1D1F2B 77.91%);
    -webkit-box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: -3px -4px 4px rgba(197, 188, 188, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -2px -2px 4px rgba(55, 53, 53, 0.05), inset 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
  }
  .team .team-members .image-card img {
    margin-bottom: 15px;
  }
  .team .team-members .image-card .name {
    font-style: normal;
    font-weight: normal;
    font-size: clamp(18px, 2vw, 20px);
    line-height: 28px;
  }
  .team .team-members .image-card .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 28px;
    color: #9FE4FF;
  }
}
/*# sourceMappingURL=style.css.map */