.contact-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#161825), color-stop(57.81%, #101119), to(#101119));
  background: linear-gradient(180deg, #161825 0%, #101119 57.81%, #101119 100%);
}

.contact-page .container {
  padding: 30px 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-page .container .contact-form {
  background: #161825;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -3px 4px rgba(141, 173, 183, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -3px 4px rgba(141, 173, 183, 0.25);
  width: 100%;
  margin: 30px 0;
}

.contact-page .container .contact-form form {
  padding: 30px 15px;
}

.contact-page .container .contact-form form h1 {
  font-size: clamp(30px, 5vw, 60px);
  margin-bottom: 30px;
}

.contact-page .container .contact-form form .form-group {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page .container .contact-form form .form-group label {
  padding-bottom: 10px;
}

.contact-page .container .contact-form form .form-group input, .contact-page .container .contact-form form .form-group textarea {
  width: 100%;
  height: 50px;
  background: #161825;
  -webkit-box-shadow: inset -3px -4px 4px rgba(255, 255, 255, 0.25), inset 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset -3px -4px 4px rgba(255, 255, 255, 0.25), inset 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #ffffffab;
  font-size: 16px;
}

.contact-page .container .contact-form form .form-group input:focus, .contact-page .container .contact-form form .form-group textarea:focus {
  border: 1px solid #04749F;
}

.contact-page .container .contact-form form .form-group input::-webkit-input-placeholder, .contact-page .container .contact-form form .form-group textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group input:-ms-input-placeholder, .contact-page .container .contact-form form .form-group textarea:-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group input::-ms-input-placeholder, .contact-page .container .contact-form form .form-group textarea::-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group input::placeholder, .contact-page .container .contact-form form .form-group textarea::placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea {
  height: 100px;
  resize: none;
  font-size: 16px;
  font-family: Roboto;
}

.contact-page .container .contact-form form .form-group textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea:-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea::-ms-input-placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .form-group textarea::placeholder {
  font-size: 14px;
}

.contact-page .container .contact-form form .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .container .contact-form form .btns button {
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .contact-page {
    background: -webkit-gradient(linear, left top, left bottom, from(#161825), color-stop(57.81%, #101119), to(#101119));
    background: linear-gradient(180deg, #161825 0%, #101119 57.81%, #101119 100%);
  }
  .contact-page .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page .container .contact-form {
    width: 60%;
    max-width: 600px;
  }
  .contact-page .container .contact-details {
    width: 40%;
    max-width: 500px;
    padding-left: 60px;
  }
}

.contact-details {
  margin: 30px 0;
  margin-bottom: 0;
  width: 100%;
}

.contact-details h2 {
  font-size: clamp(26px, 4vw, 40px);
  margin-bottom: 30px;
}

.contact-details p {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
}

.contact-details .contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.contact-details .contact ul li .icon-container {
  margin-right: 25px;
}

.contact-details .contact ul li .icon-container .icon {
  font-size: clamp(16px, 2vw, 18px);
}

.contact-details .contact ul li .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-details .contact ul li .text span {
  margin: 5px 0;
}

.contact-details .contact ul li .text span a {
  color: #ffffffad;
  text-decoration: underline;
}
/*# sourceMappingURL=contact.css.map */