.service-banner {
  position: relative;
  padding: 0 0 30px;
  min-height: 450px;
}

.service-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  min-height: 200px;
  background: #0F111E;
  z-index: -1;
}

.service-banner .container {
  width: 60%;
  position: relative;
  top: 100px;
  background: #161825;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(12, 16, 41, 0.849)), color-stop(10%, rgba(13, 17, 37, 0.926))), url("../../../assets/images/service-bg.png") no-repeat bottom center;
  background: linear-gradient(0deg, rgba(12, 16, 41, 0.849) 0%, rgba(13, 17, 37, 0.926) 10%), url("../../../assets/images/service-bg.png") no-repeat bottom center;
  background-size: cover;
  min-height: 300px;
  height: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-banner .container h1 {
  font-size: clamp(24px, 5vw, 55px);
  text-align: center;
  margin-bottom: 30px;
}

.service-banner .container p {
  text-align: center;
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 1.7em;
  color: #b3dcec;
}

@media screen and (max-width: 992px) {
  .service-banner::before {
    height: 60%;
  }
  .service-banner .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .service-banner::before {
    height: 60%;
  }
  .service-banner .container {
    width: 90%;
    padding: 30px 20px;
  }
}

.service-list {
  padding: 30px 0 40px;
}

.service-list .container {
  width: 600px;
  max-width: 90%;
  background: #1C1F30;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25), -3px -4px 4px #2B2F47;
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25), -3px -4px 4px #2B2F47;
  border-radius: 5px;
  padding: 30px;
}

.service-list .container h2 {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  font-size: clamp(24px, 5vw, 36px);
  padding: 5px 0;
}

.service-list .container h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: #04749F;
}

.service-list .container h3 {
  font-size: clamp(16px, 4vw, 18px);
}

.service-list .container .showcase ul {
  padding: 10px 0;
}

.service-list .container .showcase ul li {
  margin: 40px 0;
  cursor: pointer;
}

.service-list .container .showcase ul li h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: lighter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-list .container .showcase ul li .accordion__content {
  overflow: auto;
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.service-list .container .showcase ul li .accordion__content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.service-list .container .showcase ul li .accordion__content p {
  padding: 20px 0;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 24px;
  color: #ffffffaf;
}

.process {
  padding: 50px 0;
}

.process .process__contents .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.process .process__contents .container .descr {
  width: 40%;
  padding: 20px 20px 20px 0;
}

.process .process__contents .container .descr h2 {
  font-size: clamp(24px, 5vw, 48px);
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-weight: normal;
}

.process .process__contents .container .descr p {
  font-size: 1em;
  line-height: 26px;
  font-weight: normal;
  color: #D3D6D7;
}

.process .process__contents .container .img-container {
  padding: 0 0 0 20px;
  width: 50%;
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .process {
    padding: 10px 0;
  }
  .process .process__contents .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
  .process .process__contents .container .descr {
    width: 100%;
    padding: 30px 0;
  }
  .process .process__contents .container .descr h2 {
    font-size: clamp(24px, 5vw, 48px);
    line-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    font-weight: normal;
  }
  .process .process__contents .container .descr p {
    font-size: 1em;
    line-height: 26px;
    font-weight: normal;
    color: #D3D6D7;
  }
  .process .process__contents .container .img-container {
    padding: 20px 0;
    width: 100%;
  }
}
/*# sourceMappingURL=services.css.map */