.categories .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  overflow-x: hidden;
}

.categories .container p {
  padding-right: 25px;
  line-height: 20px;
  font-weight: lighter;
}

.categories .container .showcase {
  background: #1D1F2B;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-x: hidden;
  border-radius: 25px;
  padding: 0 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.categories .container .showcase .swiper-slide {
  max-width: 120px;
  width: 100%;
  height: 50px;
}

.categories .container .showcase .swiper-slide span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  color: #eeeeee;
}

.categories .container .showcase .swiper-slide span .active {
  background: #04749F;
}

@media screen and (max-width: 992px) {
  .categories .container .showcase .swiper-slide {
    max-width: 100px;
  }
  .categories .container .showcase .swiper-slide span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .categories .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .categories .container p {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .categories .container .showcase {
    height: 40px;
    border-radius: 20px;
  }
  .categories .container .showcase .swiper-slide {
    height: 40px;
  }
}

.clients-projects {
  width: 100%;
}

.clients-projects .container {
  width: 90%;
}

.clients-projects .container article {
  margin: 50px 0;
  position: relative;
}

.clients-projects .container article .before, .clients-projects .container article .after {
  position: absolute;
  left: 0;
  width: 95%;
  z-index: -1;
}

.clients-projects .container article .before::before, .clients-projects .container article .before::after, .clients-projects .container article .after::before, .clients-projects .container article .after::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 50%;
}

.clients-projects .container article .before::before, .clients-projects .container article .after::before {
  left: 0;
}

.clients-projects .container article .before::after, .clients-projects .container article .after::after {
  left: 50%;
}

.clients-projects .container article .before::before, .clients-projects .container article .before::after {
  top: 0;
}

.clients-projects .container article .before::before {
  -webkit-box-shadow: 0px -4px 7px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 7px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: matrix(-1, -0.02, 0.04, -1, 0, 0);
          transform: matrix(-1, -0.02, 0.04, -1, 0, 0);
}

.clients-projects .container article .before::after {
  -webkit-box-shadow: 0px -4px 7px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 7px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: matrix(-1, 0.02, -0.04, -1, 0, 0);
          transform: matrix(-1, 0.02, -0.04, -1, 0, 0);
}

.clients-projects .container article .after::before, .clients-projects .container article .after::after {
  bottom: 0;
}

.clients-projects .container article .after::before {
  -webkit-box-shadow: 0px 4px 7px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 7px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: matrix(1, -0.02, 0.05, 1, 0, 0);
          transform: matrix(1, -0.02, 0.05, 1, 0, 0);
}

.clients-projects .container article .after::after {
  -webkit-box-shadow: 0px 4px 7px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 7px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: matrix(1, 0.02, -0.04, 1, 0, 0);
          transform: matrix(1, 0.02, -0.04, 1, 0, 0);
}

.clients-projects .container article .project {
  background: #1F2337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  z-index: 2;
}

.clients-projects .container article .project .descr {
  width: 50%;
  padding: 30px;
}

.clients-projects .container article .project .descr h2 {
  font-size: clamp(24px, 2vw, 36px);
  margin-bottom: 30px;
}

.clients-projects .container article .project .descr p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #D3D6D7;
}

.clients-projects .container article .project .descr .tags {
  margin-bottom: 15px;
}

.clients-projects .container article .project .descr .tags span {
  margin-right: 10px;
  color: #1297E8;
}

.clients-projects .container article .project .descr a {
  color: #ffffffcc;
  text-decoration: underline;
}

.clients-projects .container article .project .descr a:hover {
  text-decoration: none;
}

.clients-projects .container article .project .project-image {
  width: 50%;
  background: #D5D9DB;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-projects .container article .project .project-image .img-container {
  border-radius: 20px;
  margin-left: 10%;
  margin-right: -10%;
}

.clients-projects .container article .project .project-image .img-container img {
  border-radius: 20px;
}

.clients-projects .container article:nth-child(even) .before, .clients-projects .container article:nth-child(even) .after {
  left: 5%;
  width: 95%;
}

.clients-projects .container article:nth-child(even) .project {
  margin-right: 0;
  margin-left: 5%;
}

.clients-projects .container article:nth-child(even) .project .descr {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.clients-projects .container article:nth-child(even) .project .project-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.clients-projects .container article:nth-child(even) .project .project-image .img-container {
  margin-right: 10%;
  margin-left: -10%;
}

@media screen and (max-width: 768px) {
  .clients-projects .container {
    width: 90%;
  }
  .clients-projects .container article {
    margin: 50px 0;
  }
  .clients-projects .container article .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clients-projects .container article .project .descr {
    width: 100%;
    padding: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .clients-projects .container article .project .descr h2 {
    margin-bottom: 20px;
  }
  .clients-projects .container article .project .descr p {
    margin-bottom: 15px;
    line-height: 26px;
  }
  .clients-projects .container article .project .descr .tags {
    margin-bottom: 15px;
  }
  .clients-projects .container article .project .descr .tags span {
    margin-right: 10px;
  }
  .clients-projects .container article .project .project-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 40px;
    position: relative;
  }
  .clients-projects .container article .project .project-image .img-container {
    position: relative;
    top: 10px;
    left: 5%;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .clients-projects .container article .project .project-image .img-container img {
    border-radius: 10px;
  }
  .clients-projects .container article:nth-child(even) .project {
    margin-right: 0;
    margin-left: 5%;
  }
  .clients-projects .container article:nth-child(even) .project .project-image .img-container {
    left: -5%;
    margin-right: 0;
    margin-left: 0;
  }
}

.pagination {
  margin: 50px 0 80px 0;
}

.pagination .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 60%;
}

.pagination .container .showcase {
  height: 40px;
  max-width: 100%;
  min-width: 250px;
  background: #1D1F2B;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(255, 255, 255, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .container .showcase .swiper-slide {
  width: 50px;
  height: 50px;
}

.pagination .container .showcase .swiper-slide span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
}

.pagination .container .showcase .swiper-slide span.active {
  background: #04749F;
}
/*# sourceMappingURL=work.css.map */